<head>
<title>About FDDrum Controller</title>
<link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>

<p style='text-align:center; font-size:xx-large; font-weight:bold; font-style:italic;'>
About
</p>

<p>
The whole system was design for Controling of Drum Calibration for
Fluorescence Detector.
</p>

<div>
 <b>Features:</b>
 <ul>
  <li>4 LEDs can be run simultaneously with 100 MSPS up to 1A each</li>
  <li>2 PMTs / PHD can be run simultaneously at 100 MSPS. </li>
  <li>Triggering options</li>
  <li>Plotting and Displaying Options</li>
  <li>Statistical Functions (Min, Max, Mean, etc.)</li>
 </ul>
</div>

<div>
 <b>Platform:</b>
 <ul>
  <li>FDDrumFin Board based on BF537-0.2</li>
  <li>uClinux 2.6.x for Blackfin</li>
  <li>FDDrumTail Board, based on Xilinx Spartan 3A</li>
 </ul>
</div>

</body>

</html>
