*{
	padding:0px;
	margin:0px;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
a:link,a:visited {
	display:block;
	text-decoration:none;

	background-color:DarkGreen;
	padding:0.3em;
	border:0.2em solid Black;
	color:White;
	font-size:1.0em;
	text-align:right;
	font-weight:bold;

	margin-left: 0.5em;
	margin-bottom: 0.5em;
	width: 18.0em;
}
a:hover,a:active {
	background-color:Green;
}
fieldset { 
	border:0.4ex solid DarkGreen; 
	background-color:White;
	padding-left:0.2em;
	padding-right:0.2em;
	padding-top:0.2em;
	padding-bottom:0.2em;
	margin:0.4ex;
	font-size: 1.0em;
}
legend {
	background-color:DarkGreen;
	padding:0.3em;
	border:0.2em solid Black;
	color:White;
	width: 18.0em;
	font-size:1.0em;
	text-align:right;
	font-weight:bold;
	margin:0;
	margin-bottom: 0.5em;
	padding:0.3em;
}
legend:hover{
        background-color:Green;
}
body {
	background-color:White;
	padding:0;
	margin:0;
	border:0;
}
p {
	padding:0;
	margin:0;
}

p.menu {
	color: White;
	background: DarkGreen;
	padding:0.3em;
	margin-top:0.0;
	margin-bottom: 0.6em;
	border-bottom: solid 6px Black;
	border-left:0;
	border-right: solid 6px Black;
	border-top: solid 6px DarkGreen;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	padding-right: 1.0em;
	padding-bottom: 0.5em;
}
label {
	font-weight:    bold;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-right: 0;
	padding-bottom: 0;
}
p.input_field {
	clear: both;
	float: none;
	margin-bottom:0.2em;
	margin-top:0.2em;
	margin-left:0;
	margin-right:0;
}
p.input_field input {
	color: White;
	background: DarkGreen;
	padding-top:2px;
	padding-bottom:1px;
	padding-right:0;
	border: 0;
	margin-left:0.0em;
	margin-right:0;
	margin-bottom: 0.3em;

	text-align:right;
	clear: right;
	float: left;
	display:block;
}

p.input_field input:focus {
	color: Yellow;
	background: Green;
}
p.input_field label.field_name {
	clear: left;
	display: block;
	float: left;
	text-align: left;
	padding-right: 1.0em;
	border:	2px solid DarkGreen;
	min-width: 6em;
	margin: 0;
}
p.input_field label.field_units {
	clear: right;
	float: left;
	color: Black;
	display:block;
	text-align: left;
<!--	width: 20%; -->
	margin:0;
	padding:0;
	padding-top: 5.0px;
	padding-left: 0.3em;
	padding-right: 0.2em;
	border-bottom: 2px dotted DarkGreen;

}
p.select_field {
	clear: both;
	float: none;
	margin-bottom:0.2em;
	margin-top:0.2em;
}
p.select_field select {
	clear:both;
	color: White;
	background: DarkGreen;
	text-align:left;
	padding-top:1px;
	padding-bottom:0;
	margin-left:0.0em;
	margin-bottom: 0.2em;
	min-width:6.5em;
	border:0;
}
p.select_field label.field_name {
	clear: left;
	display:block;
	float:left;
	border: 2px solid DarkGreen;
	min-width:10em;
}
p.submit {
	clear: both;
	float: none;
	margin-bottom:0.2em;
	margin-top:0.2em;
}
p.submit input {
	color: White;
	background: DarkGreen;
	margin-left:   1.0em;
	margin-top :0.1em;
	min-width:6.0em;
}
p.submit:hover input{
	background: Green;
	color: Yellow;
}
.file_input_textbox {
	float: left
}
.file_input_div {
	position: relative; 
	float: top;
	min-width:8.0em;
	width: 8.0em; 
	height: 2.0em; 
	overflow: hidden;
}
.file_input_button {
	position: relative;
	float: right;
	top: 0px;
	color: White;
	background: DarkGreen;
	font-size:0.5em;
}
.file_input_div:hover input{
        background: Green;
	color: Yellow;
}
.file_input_hidden {
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}
th,td {
	vertical-align:center;
	text-align:center;
}
th {
	background-color:DarkGreen;
	color:White;
	margin-top:0;
}
td {
	background-color:White;
	color: DarkGreen;
	border:0;
	margin-top:0.2em;
}
table {
	width:100%;
	border:0;
	margin:0;
	padding:0;
	clear: left;
}
caption{
	border: 2px solid DarkGreen;
	clear: left;
	font-weight:    bold;
	text-align:left;
	padding-left: 0.3em;
	padding-top: 0.2em;
	padding-right: 0;
	padding-bottom: 0;
	margin:0
	margin-top:0.2em;
	margin-left:0.0em;
}
