body {
	margin: 0px;
	padding: 0px;
}
p {
	padding:0;
	margin:0;
	clear:both;
}
fieldset.response {
	float: left;
	display:block;
	clear: left;
}
fieldset.response p{
	clear: left;
}
p.output_field {
	clear: both;
	float: none;
	margin-bottom:0.2em;
	margin-top:0.2em;
	margin-left:0;
	margin-right:0;
}
p.output_field label.field_name {
	clear: left;
	display: block;
	float: left;
	text-align: left;
	padding-right: 1.0em;
	border: 2px solid DarkGreen;
	min-width: 10em;
	margin: 0;
	margin-left: 0.4em;
}
p.output_field label.field_var {
	color: White;
	background: DarkGreen;
	padding-top:2px;
	padding-bottom:1px;
	padding-right:0.2em;
	padding-left:1.0em;
	border: 0;
	margin-left:0.0em;
	margin-right:0;
	margin-bottom: 0.3em;
	text-align:right;
	clear: right;
	float: left;
	display:block;
	min-width: 4em;
}
p.output_field label.field_units {
        clear: right;
	float: left;
	color: Black;
	display:block;
	text-align: left;
	<!--    width: 20%; -->
	margin:0;
	padding:0;
	padding-top: 5.0px;
	padding-left: 0.3em;
	padding-right: 0.2em;
	border-bottom: 2px dotted DarkGreen;
}
th {
	text-align: center;
	color: White;
	background-color: DarkGreen;
}
td {
	text-align: center;
	color: DarkGreen;
	background-color: White;
}
h1 {
	padding:0;
	margin:0;
	padding-left:1.0em;
	color: White;
	background-color: DarkGreen;
	font-size: 1.2em;
	float: right;
	clear: none;
	text-align:left;

}
fieldset {
	border:0.4ex solid DarkGreen;
	background-color:White;
	padding-left:0.2em;
	padding-right:0.2em;
	padding-top:0.2em;
	padding-bottom:0.2em;
	font-size: 1.0em;
}

fieldset.warning {
	border:2px solid GoldenRod;
}
fieldset.warning legend {
	font-size:0.6em;
	border:2px solid Black;
	background-color: GoldenRod;
	color: White;
}
fieldset.warning label.field_name {
	border-color: GoldenRod;
	margin-left: 0.0em;
}
fieldset.warning label.field_var {
	background: GoldenRod;
}
fieldset.error {
	border:2px solid DarkRed;
}
fieldset.error legend {
	font-size:0.6em;
	border:2px solid Black;
	background-color: DarkRed;
	color: White;
}
fieldset.error label.field_name {
	border-color: DarkRed;
	margin-left: 0.0em;
}
fieldset.error label.field_var {
	background: DarkRed;                  
}
fieldset.dac1 {
	float: right;
	margin-top: 0.1em;
	border: 2px solid DarkRed;
	font-size:0.8em;
	clear:right;
	text-align: center;
	width: 30%;
}
fieldset.dac1 legend {
	font-size:0.8em;
	background: DarkRed;
	color: White;
}
fieldset.dac2 {
	float: right;
	clear: right;
	margin-top: 0.1em;
        border: 2px solid DarkGreen;
	font-size:0.8em;
	text-align: center;
	width: 30%;
}
fieldset.dac2 legend {
	font-size:0.8em;
	background: DarkGreen;
	color: White;
}
fieldset.dac3 {
        border: 2px solid DarkBlue;
	font-size:0.8em;
	float: right;
	clear:right;
	margin-top: 0.1em;
	display: block;
	text-align: center;
	width: 30%;
}
fieldset.dac3 legend {
        font-size:0.8em;
	background: DarkBlue;
	color: White;
}
fieldset.dac4 {
	border: 2px solid DarkMagenta;
	font-size:0.8em;
	float: right;
	clear: right;
	margin-top: 0.1em;
	display: block;
	text-align: center;
	width: 30%;
}
fieldset.dac4 legend {
	font-size:0.8em;
	background: DarkMagenta;
	color: White;

}
fieldset.adc1 {
	float: right;
	margin-top: 0.1em;
	border: 2px solid DarkRed;
	font-size:0.8em;
	clear:right;
	text-align: center;
	width: 30%;
}
fieldset.adc1 legend {
	font-size:0.8em;
	background: DarkRed;
	color: White;
}
fieldset.adc2 {
	border: 2px solid DarkBlue;
	font-size:0.8em;
	float: right;
	clear:right;
	margin-top: 0.1em;
	display: block;
	text-align: center;
	width: 30%;
}
fieldset.adc2 legend {
	font-size:0.8em;
	background: DarkBlue;
	color: White;
}
img.trace {
	width:60%;
	clear:left;
	float:left;
	border:3px solid DarkGreen; 
}
